section,
header,
footer {
	padding: 0 15px;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar > h1 {
	color: var(--color-main);
	font-weight: 700;
}

.info {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.info__text {
	padding: 92px 42px 45px 89px;
	color: white;
	position: absolute;
}

.info__text > p:first-of-type {
	font-weight: 700;
}

.info__text > p:last-of-type {
	font-family: var(--font-sub);
	font-weight: 400;
}

.about {
	display: flex;
}

.about > p {
	font-weight: 700;
	color: #0e204e;
}

.about__info {
	display: flex;
}

.about__text {
	color: white;
}

.about__text > p {
	font-family: var(--font-sub);
	line-height: 160%;
}

.why > .about__info {
	flex-direction: row-reverse;
}

.why > .about__info > .about__text {
	background-color: white;
}

.why > .about__info > .about__text > p {
	color: var(--color-main);
}

.form > form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form > form > p:first-of-type {
	color: var(--color-main);
}

.form > form p:last-of-type {
	font-family: var(--font-sub);
}

.form > form > button {
	background-color: var(--color-main);
	color: white;
	font-family: 'Manrope';
}

footer {
	background-color: var(--color-main);
	display: flex;
	justify-content: space-between;
}
